// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";


// ============================
// overflow: visible
// ============================
html.print-code {
  width: 640px;
}
html.print-code,
body.print-code,
atom-pane-container atom-pane.print-code {
  overflow: visible !important;
}

// ============================
// display: none
// ============================
atom-panel-container.print-code,
.tab-bar.print-code {
  display: none;
}


// ============================
// border: none
// ============================
body.print-code {
  atom-pane-container atom-pane .item-views,
  atom-panel,
  atom-pane.pane,
  atom-pane-resize-handle,
  .tool-panel.left,
  .tool-panel.panel-left,
  .tab-bar:after {
    border: none !important;
  }
}

// ============================
// title-bar design
// ============================
.print-code .title-bar {
  display: none;
  // border: dotted 1px #ccc !important;
  // margin-bottom: 20px !important;
}

// ============================
// bottom design
// ============================
.print-code .bottom {
  display: none;
}
